# Dependency folders
node_modules/
dist/
.next/
Backend/server/dist/

# Environment variables (Security!)
.env
.env.local

# Large video/stream files
storage/
public/streams/
public/uploads/avatars/*

# OS files
.DS_Store
Thumbs.db